* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: hsl(235, 21%, 11%);
}

.general-container {
    position: relative;
}

.head-pic {
    background: url(./images/bg-desktop-dark.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.content-container {
    width: 40%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.head > h1 {
    color: hsl(0, 0%, 98%);
    font-weight: 600;
    letter-spacing: 15px;
}

.toggle-icon {
    cursor: pointer;
}

.add-todo {
    position: relative;
    margin-bottom: 1.5rem;
}

.add-todo > input {
    background: hsl(235, 24%, 19%);
    border: 0;
    outline: 0;
    padding: 19px 50px;
    width: 100%;
    border-radius: 4px;
    color: hsl(234, 39%, 85%);
}

.add-todo > input::placeholder {
    color: hsl(235, 19%, 35%);
}

.circle-design {
    width: 18px;
    height: 18px;
    padding: 9px;
    border: 1px solid hsl(237, 14%, 26%);
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(80%, 80%);
    cursor: pointer;
}

.circle {
    width: 18px;
    height: 18px;
    padding: 9px;
    /* border: 1px solid yellow; */
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%)) 1, 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card {
    background-color: hsl(235, 24%, 19%);
    border-radius: 4px;
}

.check {
    display: none;
    width: 9px;
}

.cross {
    width: 15px;
    display: none;
    cursor: pointer;
}

.todo:hover .cross {
    display: block
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    cursor: pointer;
}

.todo > span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo > span > p {
    color: hsl(234, 39%, 85%);
    font-weight: 400;
    font-size: 14px;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
}

.menus > span p {
    font-size: 13px;
    cursor: pointer;
    color: hsl(233, 14%, 35%);
}

.menus > span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}